/* style.css */

:root {
    /* HEX Colors */
    --yinmn-blue: #345995;
    --emerald: #2cda9d;
    --carnation-pink: #ff99c8;
    --amber: #ffbe0b;
    --red-munsell: #ef2e45;
    --purple: #8B51E1;
}

@font-face {
    font-family: 'high-speed';
    src: url('fonts/high_speed_3/High Speed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'handwriting';
    src: url('fonts/handwriting.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* ANIMATIONS */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

body {
    margin: 0;
    padding: 10%;
    background-color: var(--amber);
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-family: 'high-speed', sans-serif;
    color: #8131cc;
    font-size: 60px;
}

/* TITLE */

.title-box {
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    border: 8px solid;
    border-radius: 60% 20% 80% 10% / 30% 90% 90% 10%;
    padding: 12px 70px;
    line-height: 1;
    /* tightens text spacing */
    display: inline-block;
    /* or 'block' */
    white-space: nowrap;
    box-shadow: var(--yinmn-blue) 0px 0px 10px;
}

#tb1 {
    position: absolute;
    /* Box with the big title */
    background-color: var(--red-munsell);
    border: 8px solid var(--carnation-pink);
    left: 90%;
    bottom: 70%;
    overflow: hidden;
    z-index: 10;
}

#tb2 {
    position: absolute;
    /* Box with the big title */
    background-color: var(--yinmn-blue);
    border: 8px solid var(--emerald);
    left: 84%;
    bottom: 65%;
    overflow: hidden;
    z-index: 10;
}

.title {
    color: var(--amber);
    font-family: 'high-speed';
    font-size: 40px;
    /* Starting position */
    transform: translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 10s linear infinite;
    text-shadow: 1px 1px 1px var(--carnation-pink);
}

.subtitle {
    color: var(--amber);
    font-family: 'high-speed';
    font-size: 30px;
    /* Starting position */
    transform: translateX(-100%);
    /* Apply animation to this element */
    animation: scroll-right 10s linear infinite;
    text-shadow: 1px 1px 1px var(--emerald);
}







/* MAP */

#map {
    position: absolute;
    left: 10%;
    top: -10%;
    max-width: 100%;
    height: 100%;
    border: 8px solid var(--yinmn-blue);
    z-index: 10;
}


.blob-div {
    width: 800px;
    height: 550px;
    background-color: var(--red-munsell);
    /* amber blob */
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    /* irregular blob shape */
    position: absolute;
    top: 100px;
    left: 100px;
}

.mapboxgl-ctrl-top-right {
    top: 80px !important;
    left: 100px !important;
    transform: translateX(-10%) translateY(-15%);
}

.polygon {
    background-color: var(--yinmn-blue);
    height: 400px;
    width: 500px;
    clip-path: polygon(66% 0, 83% 32%, 100% 59%, 75% 100%, 29% 91%, 5% 65%, 10% 20%);
}







/* BLOB */
.blob-em {
    fill: var(--emerald);
    stroke-width: 2px;
}

.blob-em:hover {
    fill: var(--purple);
}

#blob-div1 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 400px;
    height: 400px;
    overflow: hidden;
    z-index: 1;
}

#blob-div2 {
    position: absolute;
    width: 400px;
    height: 300px;
    top: 100%;
    left: 60%;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 15;
}

.blob-pink {
    fill: var(--carnation-pink);
}

.blob-pink:hover {
    fill: var(--yinmn-blue);
}

#blob-div3 {
    position: absolute;
    width: 300px;
    height: 200px;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.blob-blue {
    fill: var(--yinmn-blue);
}

.blob-blue:hover {
    fill: var(--red-munsell);
}

#blob-div4 {
    position: absolute;
    width: 400px;
    height: 100px;
    transform: translate(-50%, -50%);
    top: 0%;
    left: 98%;
    z-index: 1;
}

.blob-purple {
    fill: var(--purple);
}

.blob-purple:hover {
    fill: var(--carnation-pink);
}

.blob-red {
    fill: var(--red-munsell);
}

.blob-red:hover {
    fill: var(--carnation-pink);
}

#blob-div5 {
    position: absolute;
    width: 700px;
    height: 50px;
    transform: translate(-50%, -50%);
    top: -60%;
    left: 50%;
    z-index: 2;
}

#blob-div6 {
    position: absolute;
    width: 500px;
    height: 200px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 100%;
    z-index: 1;
}

#blob-div7 {
    position: absolute;
    width: 500px;
    height: 300px;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 35%;
    z-index: 1;
}

#blob-div8 {
    position: absolute;
    width: 400px;
    height: 200px;
    transform: translate(-50%, -50%);
    top: -15%;
    left: 15%;
    z-index: 1;
}

#blob-div9 {
    position: absolute;
    width: 400px;
    height: 300px;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 10%;
    z-index: 1;
}

#blob-secret {
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 85%;
    z-index: 20;
}

/* BLOB SECRET */
.blob-secret {
    fill: var(--amber);
}

.blob-secret:hover {
    fill: var(--red-munsell);
}

.blob-secret:hover+.hide-text {
    display: block;
}

#secret {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg);
    font-family: "high-speed";
    font-size: 12px;
    color: var(--amber);
    z-index: 100;
    text-shadow: 1px 1px 1px var(--carnation-pink);
}

/* BLOB TEXT */
.blob-purple:hover+.hide-text {
    display: block;
}

.blob-pink:hover+.hide-text {
    display: block;
}


.hide-text {
    display: none;
}


#click-me1 {
    position: absolute;
    top: 85%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(45deg);
    font-family: "handwriting";
    font-size: 30px;
    color: var(--purple);
    z-index: 100;
    text-shadow: 1px 1px 1px var(--yinmn-blue);
}








/* POPUPS */

.popuptitle {
    position: relative;
    margin-top: 10px;
    font-family: "handwriting";
    font-size: 26px;
    color: var(--yinmn-blue);
    text-transform: "uppercase";
    text-shadow: 1px 1px 1px var(--emerald);
}

.inner-popup {
    position: relative;
    font-family: "handwriting";
    font-size: 20px;
    color: var(--red-munsell);
    text-shadow: 1px 1px 1px var(--carnation-pink);
}


.mapboxgl-popup {
    max-width: 100px;
}

.mapboxgl-popup-content {
    border: 4px solid var(--yinmn-blue);
    border-radius: 8px;
    background-color: var(--amber);
}

.mapboxgl-popup-tip {
    display: none;
}

.hover-title {
    font-family: "handwriting";
    font-size: 20px;
    color: var(--yinmn-blue);
    text-transform: "uppercase";
}

.click-more {
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: -10px;
    font-size: 14px;
    color: var(--red-munsell);
    font-family: "handwriting";
}

.popup-emoji {
    font-size: 16px;
    text-shadow: 1px 1px 1px var(--yinmn-blue);
}