/* style.css */

:root {
    /* HEX Colors */
    --yinmn-blue: #345995;
    --emerald: #2cda9d;
    --carnation-pink: #ff99c8;
    --amber: #ffbe0b;
    --red-munsell: #ef2e45;
    --purple: #6622CC;
}

@font-face {
    font-family: 'high-speed';
    src: url('fonts/high_speed_3/High Speed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ANIMATIONS */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

body {
    margin: 0;
    background-color: var(--amber);
    background-size: cover;
}

h1 {
    font-family: 'high-speed', sans-serif;
    color: #8131cc;
    font-size: 60px;
}

/* TITLE */

.title-box {
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    border: 8px solid;
    border-radius: 60% 20% 80% 10% / 30% 90% 90% 10%;
    padding: 12px 70px;
    line-height: 1;
    /* tightens text spacing */
    display: inline-block;
    /* or 'block' */
    white-space: nowrap;
}

#tb1 {
    position: absolute;
    /* Box with the big title */
    background-color: var(--red-munsell);
    border: 8px solid var(--carnation-pink);
    left: 90%;
    bottom: 70%;
}

#tb2 {
    position: absolute;
    /* Box with the big title */
    background-color: var(--yinmn-blue);
    border: 8px solid var(--emerald);
    left: 84%;
    bottom: 65%;
}

.title {
    color: var(--amber);
    font-family: 'high-speed';
    font-size: 40px;
    /* Starting position */
    transform: translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 10s linear infinite;
    text-shadow: 1px 1px 1px var(--carnation-pink);
}

.subtitle {
    color: var(--amber);
    font-family: 'high-speed';
    font-size: 30px;
    /* Starting position */
    transform: translateX(-100%);
    /* Apply animation to this element */
    animation: scroll-right 10s linear infinite;
    text-shadow: 1px 1px 1px var(--emerald);
}

/* MAP */

#map {
    position: absolute;
    left: 10%;
    top: -10%;
    max-width: 100%;
    height: 100%;
    border: 8px solid var(--yinmn-blue)
}


/* BLOB */
.blob-div {
    width: 800px;
    height: 600px;
    background-color: var(--red-munsell);
    /* amber blob */
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    /* irregular blob shape */
    position: absolute;
    top: 100px;
    left: 100px;
}

.mapboxgl-ctrl-top-right {
    top: 80px !important;
    left: 100px !important;
    transform: translateX(-10%) translateY(-15%);
}

.polygon {
    background-color: var(--yinmn-blue);
    height: 400px;
    width: 500px;
    clip-path: polygon(66% 0, 83% 32%, 100% 59%, 75% 100%, 29% 91%, 5% 65%, 10% 20%);
}

#blob1 {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;

}

#blob2 {
    border-radius: 100% 40% 30% 70% 20% 60% / 60% 30% 70% 40% 40% 20%;

}

/* POPUPS */

.popuptitle {
    font-family: "sans-serif";
    font-size: 12px;
    text-transform: "uppercase";
}

.inner-popup {
    font-family: "mont";
    font-size: 10px;
    color: var(--ochre);
}
